
#
# Common LMHD Stuff
#

# Clear temporary files
0 */6 * * * nice -n 20 ~/git_src/dev_utils/bin/cleartmp > ~/git_src/dev_utils/logs/cleartmp.log 2> ~/git_src/dev_utils/logs/cleartmp.err.log

# Clear trash
0 */6 * * * nice -n 20 ~/git_src/dev_utils/bin/cleartrash > ~/git_src/dev_utils/logs/cleartrash.log 2> ~/git_src/dev_utils/logs/cleartrash.err.log

# Update directories for frcd and gocd
0 */6 * * * nice -n 20 ~/git_src/dev_utils/bin/frd

# Check battery level
* * * * * nice -n 20 ~/git_src/dev_utils/bin/battery_alert > ~/git_src/dev_utils/logs/battery_alert.log 2> ~/git_src/dev_utils/logs/battery_alert.err.log

# Check if bork needs running
0 */6 * * * nice -n 20 ~/git_src/dev_utils/bin/check-borkify > ~/git_src/dev_utils/logs/check-borkify.log 2> ~/git_src/dev_utils/logs/check-borkify.err.log


# TODO: Let's get some box-specific crontabs if we can
# CPU Logging
@reboot ~/git_src/dev_utils/bin/cpu_log  > ~/git_src/dev_utils/logs/cpu_log.log 2> ~/git_src/dev_utils/logs/cpu_log.err.log
